@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Modern";
  src: url("./fonts/Apercu Pro Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Modern";
  src: url("./fonts/Apercu Pro Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Modern";
  src: url("./fonts/Apercu Pro Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Modern";
  src: url("./fonts/Apercu Pro Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}


body,
html {
  font-family: "Modern", "Frank Ruhl Libre", sans-serif, sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background-color: #e4e4e4;
}
body::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 20px;
  border: 1px solid #e4e4e4;
}
.vertical-rl {
  writing-mode: vertical-rl;
}

@media screen and (max-width: 480px) {
  .p-5 {
    padding: 10px !important;
  }
}
#about,
#skills,
#work,
#project,
#contact {
  transition: all ease 1s;
}

.active {
  background-color: #e7e9f6;
  color: #1623b2;
}
.jar-overlay{
  position: absolute;
  background-color: #ffffff4f;
  width: 181px;
  height: 181px;
  bottom: 20px;
  left: -11px;
  right: 0;
  margin: auto;
  border-radius: 44px;
}
@media screen and (max-width: 560px) {
  .logo-dev {
    width: 120px;
  }
  .workImg {
    width: 100px;
  }
  .footer h4 {
    font-size: 9px !important;
  }
  .footer .flex-wrap img {
    width: 13px;
  }
  .jar-overlay {
    width: 162px;
    height: 168px;
    border-radius: 34px;}
  
}
.img-container{
  border-top-right-radius: 160px;
  border-top-left-radius: 160px;
  

}

.scroll-style::-webkit-scrollbar{
  width: 7px;
}
.scroll-style::-webkit-scrollbar-track {
  background: #90a7eb3f; 
}

.scroll-style::-webkit-scrollbar-thumb {
  background: #90A7EB; 
  border-radius: 6px; 
}

.bg-grid{
  background-image: url("../src/assets/Images/gridlines.png");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}
.lapbox{
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}


.moveelement {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes move {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(-100%);
  }
}

.text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 4; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.writing-mode{
  writing-mode: vertical-lr;
}
@media screen and (max-width: 767px) {
  .writing-mode{
    writing-mode: horizontal-tb;
  }
}